<p>
    <strong>Title:</strong>
    <%= @articulo.title %>
</p>

<p>
    <strong>Text:</strong>
    <%= @articulo.text %>
</p>

<%= link_to 'Editar', edit_articulo_path(@articulo)%> |
<%= link_to 'Regresar', articulos_path%>